# 1.	Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [1]:
import pandas as pd
my_list = [10,20,30,40,50,60]
series=pd.Series(my_list)
print(series)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

# 4.	Write a Pandas program to compare the elements of the two Pandas Series.

In [3]:
series1 = pd.Series([10,20,30,40,50,60])
series2 = pd.Series([10,30,45,12,78,60])
print("=====Series1======")
print(series1)
print("=====Series2======")
print(series2)

print("====Equal=========")
print(series1==series2)

print("====Less than=========")
print(series1 < series2)

print("====Less than equal to =========")
print(series1 <= series2)

print("====greater than=========")
print(series1 > series2)

print("====greater than equal to=========")
print(series1 >= series2)

=====Series1======
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
=====Series2======
0    10
1    30
2    45
3    12
4    78
5    60
dtype: int64
====Equal=========
0     True
1    False
2    False
3    False
4    False
5     True
dtype: bool
====Less than=========
0    False
1     True
2     True
3    False
4     True
5    False
dtype: bool
====Less than equal to =========
0     True
1     True
2     True
3    False
4     True
5     True
dtype: bool
====greater than=========
0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool
====greater than equal to=========
0     True
1    False
2    False
3     True
4    False
5     True
dtype: bool

# 5.	Write a Pandas program to convert a dictionary to a Pandas series.Sample dictionary: d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

In [5]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
series = pd.Series(d1)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6.	Write a Pandas program to convert a NumPy array to a Pandas series.

In [6]:
import pandas as pd
import numpy as np

arr = np.array ([10,20,30,40,50])
series = pd.Series(arr)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

# 7.	Write a Pandas program to change the data type of given a column or a Series.

## Method #1: Using DataFrame.astype()

In [8]:
Dict = {
        "Name":["Mangesh","Mukund","Sagar","Nikhil","Rahul"],
        "Age" :[ 40,55,60,80,22]
       }

df = pd.DataFrame(Dict)
print(df)
print(df.dtypes)

#change datatype of dataframe
df = df.astype(str)
print(df.dtypes)

      Name  Age
0  Mangesh   40
1   Mukund   55
2    Sagar   60
3   Nikhil   80
4    Rahul   22
Name    object
Age      int64
dtype: object
Name    object
Age     object
dtype: object

In [14]:
# To change the datatype of specific column

Dict = {
    'Name':['Anil','Suresh','Vinayak','Ram','Shyam'],
    'Age' : [50,40,42,32,22],
    'City':['Pune','Mumbai','Nagar','Nashik','Nagpur']
}
df = pd.DataFrame(Dict)



print(df.dtypes)

change_types = {
                 
                 "Age":float
               }


df = df.astype(change_types)
print(df.dtypes)
df

Name    object
Age      int64
City    object
dtype: object
Name     object
Age     float64
City     object
dtype: object

      Name   Age    City
0     Anil  50.0    Pune
1   Suresh  40.0  Mumbai
2  Vinayak  42.0   Nagar
3      Ram  32.0  Nashik
4    Shyam  22.0  Nagpur

## Method #2: Using DataFrame.apply()

In [16]:
Dict ={
    'A': [1, 2, 3, '4', '5'], 
    'B': ['a', 'b', 'c', 'd', 'e'], 
    'C': [1.1, '2.1', 3.0, '4.1', '5.1'] 
        }
df = pd.DataFrame(Dict)
print(df.dtypes)

df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric) 
print(df.dtypes)

A    object
B    object
C    object
dtype: object
A      int64
B     object
C    float64
dtype: object

# 8.	Write a Python Pandas program to convert the first column of a DataFrame as a Series.
## d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [17]:
d = {
    'col1': [1, 2, 3, 4, 7, 11], 
    'col2': [4, 5, 6, 9, 5, 0], 
    'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(d)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [21]:
series = df['col1']
print(series)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [24]:
print(type(series))

<class 'pandas.core.series.Series'>

# 9.	Write a Pandas program to convert a given Series to an array.

In [28]:
series = pd.Series([10,2,30,40,50,60,'Mangesh',100.20])
print(series)
print("==============Series to an array===================")
arr = np.array(series.values.tolist())
print(arr)  
type(arr)

0         10
1          2
2         30
3         40
4         50
5         60
6    Mangesh
7      100.2
dtype: object
==============Series to an array===================
['10' '2' '30' '40' '50' '60' 'Mangesh' '100.2']

numpy.ndarray

# 10.	Write a Pandas program to sort a given Series.
(['100', '200', 'python', '300.12', '400'])

In [29]:
series = pd.Series(['100', '200', 'python', '300.12', '400'])
print(series)
print("============Sorted Series============")
sorted_series = series.sort_values(ascending=True)
print(sorted_series)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
============Sorted Series============
0       100
1       200
3    300.12
4       400
2    python
dtype: object